html {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e7f0ff;
  padding: 0px 45px;
}
.books-row-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  margin-top: 10px;
  /* display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  gap: 5px; */
  /* overflow-x: auto; */
}
.reading-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
.placement {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.placement img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .books-row-one,
  .reading-row {
    flex-direction: column;
    overflow-x: hidden;
  }
}
