.searchInput {
  background: #dae3f2;
  width: 90%;
  border: none;
  border-radius: 19px;
  padding: 18px;
  font-family: "Inter", sans-serif;
}
.books-container {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .books-container {
    display: flex;
    flex-direction: column;
  }
}
