.sidebar-container {
  display: flex;
  flex-direction: column;
}
.sidebar-container a {
  width: fit-content;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .sidebar-container {
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }
  .sidebar-container a {
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
  }
}
